<?xml version="1.0"?>
<model>
  <name>Bicopter</name>
  <version>1.0</version>
  <sdf version='1.4'>bicopter.sdf</sdf>

  <author>
   <name>Andre Lim</name>
   <email>andrelim435@hotmail.com</email>
  </author>

  <description>
    This is a model for a bicopter with dual axis tilt.
  </description>
</model>
